<!DOCTYPE html>
<html>
<head>
  <title>Audio Call</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="wrapper">
    <div id="display"></div>
  </div>

  <footer>
    <div class="wrapper" id="commands">
      <a href="/new">Start another call</a> / <a href="#" id="rec">Start Recording</a>
    </div>
  </footer>
  
  <script type="text/javascript">
    window.API_KEY = "<%= apiKey %>";
    window.call = <%- JSON.stringify(call, null, 2) %>;
    if (!<%= owner %>) {
      document.getElementById('commands').style.visibility = 'hidden';
    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.min.js"></script>-->
  <script src="peer.min.js"></script>
  <script src="//cdn.WebRTC-Experiment.com/RecordRTC.js"></script>
  <script src="./app.js"></script>
</body>
</html>